<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wjx.mybatis.mapper.StudentMapper" >
  <resultMap id="BaseResultMap" type="com.wjx.mybatis.pojo.Student" >
    <id column="student_id" property="studentId" jdbcType="BIGINT" />
    <result column="student_password" property="studentPassword" jdbcType="VARCHAR" />
    <result column="student_department" property="studentDepartment" jdbcType="VARCHAR" />
    <result column="student_name" property="studentName" jdbcType="CHAR" />
    <result column="student_class" property="studentClass" jdbcType="VARCHAR" />
    <result column="student_course1" property="studentCourse1" jdbcType="VARCHAR" />
    <result column="student_course2" property="studentCourse2" jdbcType="VARCHAR" />
  </resultMap>
</mapper>